<a href="add-user" class="btn btn-primary">Add</a>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Password</th>
            <th>Telephone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.telephone}}</td>
            <td>
                <a href="edit-user/{{user._id}}" class="btn btn-success">Upadte</a>
                <a (click)="deleteUser(user)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
